#mg-gallery-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.mg-file-card {
	height: 290px;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}

.mg-file-card .mg-media-element {
	height: 260px;
	width: auto;
	object-fit: contain;
	display: block;
	background: #000;
	flex-shrink: 0;
}

.mg-file-card .mg-info {
	height: 30px;
	flex-shrink: 0;
	padding: 0 8px;
	display: flex;
	align-items: center;
	background-color: var(--background-secondary);
}

.mg-file-card .mg-info p {
	font-size: 0.8em;
	margin: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--text-muted);
}

.mg-file-card video::-webkit-media-controls {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.mg-file-card video:hover::-webkit-media-controls {
	opacity: 1;
}
